.form-container {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-content {
    padding: 20px;
    background-color: #e9ecef;
}

.form-title {
    text-align: center;
}

.form {
    width: 500px;
}

.form-group-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group-input > input, textarea, select  {
    width: 400px;
}

.form-group-input > .news-description-textarea {
    resize: none;
}

